<!DOCTYPE html>
<html lang="en">

<head>

    <!-- BEGIN MOBILE META INFORMATION -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static',filename='images/favicons/apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static',filename='images/favicons/apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static',filename='images/favicons/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename='images/favicons/apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static',filename='images/favicons/apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static',filename='images/favicons/apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static',filename='images/favicons/apple-touch-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static',filename='images/favicons/apple-touch-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='images/favicons/apple-touch-icon-180x180.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicons/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicons/android-chrome-192x192.png') }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicons/favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicons/favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ url_for('static',filename='images/favicons/manifest.json') }}">
    <link rel="mask-icon" href="{{ url_for('static',filename='images/favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Goal Light">
    <meta name="application-name" content="Goal Light">
    <meta name="theme-color" content="#ffffff">
    <!-- END MOBILE META INFORMATION -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Goal Light - All Teams</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }

    .alert-box {
        color:#555;
        border-radius:10px;
        font-family:Tahoma,Geneva,Arial,sans-serif;font-size:18px;
        padding:15px 32px;
        margin:10px;
    }
    .alert-box span {
        font-weight:bold;
        text-transform:uppercase;
    }

    .alert-box-square {
        color:#555;
        /* border-radius:10px; */
        font-family:Tahoma,Geneva,Arial,sans-serif;font-size:18px;
        padding:15px 32px;
        margin:5px 10px 30px 10px;
    }
    .alert-box-square span {
        font-weight:bold;
        text-transform:uppercase;
    }

    .alert-box-square-small {
        color:#555;
        font-family:Tahoma,Geneva,Arial,sans-serif;font-size:18px;
        padding:15px 32px;
        margin:10px;
    }
    .alert-box-square-small span {
        font-weight:bold;
        text-transform:uppercase;
    }

    .error {
        background:#ffecec;
        border:1px solid #f5aca6;

        -webkit-transition: background 1.0s ease-in-out;
        -ms-transition:     background 1.0s ease-in-out;
        transition:         background 1.0s ease-in-out;
    }
    .success {
        background:#e9ffd9;
        border:1px solid #a6ca8a;
    }
    .warning {
        background:#fff8c4;
        border:1px solid #f2c779;
    }
    .notice {
        background:#e3f7fc;
        border:1px solid #8ed9f6;
    }
    .tester {
        background: #ffbc91;
        border:1px solid #ccc;
    }
    .alert-box-hidden {
        display:none;
    }
    .backgroundRed {
        background: #F00;
    }

    /* HR With Center Text Aligned */

    .strike {
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
    }

    .strike a {
        color: #333;
        position: relative;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
    }

    .strike > span {
        position: relative;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
    }

    .strike > span:before,
    .strike > span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
        background: red;
    }

    .strike > span:before {
        right: 100%;
        margin-right: 15px;
    }

    .strike > span:after {
        left: 100%;
        margin-left: 15px;
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                <a class="navbar-brand" href="#" style="align: center;">🚨🚨🚨 NHL Goal Light - All Teams</a>
                <span style="padding: 18px 15px; float: right; color:#fff; font-size:10px;">
                {% if vLocalNetwork %}
                    [local network]
                {% endif %}
                </span>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div> -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">

                {% if vReceiverPower != "ON" %}
                    <div class="alert-box-square-small notice"><span>Receiver Power - {{ vReceiverPower }}</span></div>
                {% else %}
                    <div class="alert-box-square-small success"><span>Receiver Power - ON</span></div>
                {% endif %}

                <div class="alert-box-square-small notice"><span>Receiver Volume - {{ vReceiverVolume }}</span></div>

                {% if vPriorityTeams %}
                <br />
                <div class="strike">
                    <span><a href="/manageteams">PRIORITY TEAMS</a></span>
                </div>

                {% for team in vPriorityTeams %}
                    <div class="alert-box success" id="goal-button-{{ team }}" name="{{ team }}"><span>{{ team }}</span></div>
                {% endfor %}

                <br />
                {% endif %}

                <div class="strike">
                    <span>ALL TEAMS</span>
                </div>

                {% for team in vAllTeams %}
                    <div class="alert-box success" id="goal-button-{{ team }}" name="{{ team }}"><span>{{ team }}</span></div>
                {% endfor %}
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

    <!-- jQuery Extras -->
    <script>
        $( document ).ready(function() {
            "{{vLocalNetwork}}" = true ? internalNetwork = true : internalNetwork = false
        });

        // ******************************************
        // Click Listener for Goal by Team
        // ******************************************
        $("[id^=goal-button]").bind('click tap', function() {
            internalNetwork = true
                ? promptPW = "Testing123!" : promptPW = prompt("Enter password to perform lights test...");

            team_name = $(this).attr('name');
            if (promptPW) {
                $.post("/allteams", { password: promptPW, team: team_name});
            }
            return false;
        });

    </script>

</body>

</html>
