<!DOCTYPE html>
<html lang="en">

<head>

    <!-- BEGIN MOBILE META INFORMATION -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static',filename='images/favicons/apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static',filename='images/favicons/apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static',filename='images/favicons/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename='images/favicons/apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static',filename='images/favicons/apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static',filename='images/favicons/apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static',filename='images/favicons/apple-touch-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static',filename='images/favicons/apple-touch-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='images/favicons/apple-touch-icon-180x180.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicons/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicons/android-chrome-192x192.png') }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicons/favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicons/favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ url_for('static',filename='images/favicons/manifest.json') }}">
    <link rel="mask-icon" href="{{ url_for('static',filename='images/favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Goal Light">
    <meta name="application-name" content="Goal Light">
    <meta name="theme-color" content="#ffffff">
    <!-- END MOBILE META INFORMATION -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Goal Light Status</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }

    .alert-box {
        color:#555;
        border-radius:10px;
        font-family:Tahoma,Geneva,Arial,sans-serif;font-size:18px;
        padding:20px 32px;
        margin:10px;
    }
    .alert-box span {
        font-weight:bold;
        text-transform:uppercase;
    }

    .alert-box-square {
        color:#555;
        /* border-radius:10px; */
        font-family:Tahoma,Geneva,Arial,sans-serif;font-size:18px;
        padding:30px 32px;
        margin:5px 10px 30px 10px;
    }
    .alert-box-square span {
        font-weight:bold;
        text-transform:uppercase;
    }

    .alert-box-square-small {
        color:#555;
        font-family:Tahoma,Geneva,Arial,sans-serif;font-size:18px;
        padding:20px 32px;
        margin:10px;
    }
    .alert-box-square-small span {
        font-weight:bold;
        text-transform:uppercase;
    }

    .error {
        background:#ffecec;
        border:1px solid #f5aca6;

        -webkit-transition: background 1.0s ease-in-out;
        -ms-transition:     background 1.0s ease-in-out;
        transition:         background 1.0s ease-in-out;
    }
    .success {
        background:#e9ffd9;
        border:1px solid #a6ca8a;
    }
    .warning {
        background:#fff8c4;
        border:1px solid #f2c779;
    }
    .notice {
        background:#e3f7fc;
        border:1px solid #8ed9f6;
    }
    .tester {
        background: #ffbc91;
        border:1px solid #ccc;
    }
    .alert-box-hidden {
        display:none;
    }
    .backgroundRed {
        background: #F00;
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                <a class="navbar-brand" href="#" style="align: center;">🚨🚨🚨 NHL Goal Light</a>
                <span style="padding: 18px 15px; float: right; color:#fff; font-size:10px;">
                {% if vLocalNetwork %}
                    [local network]
                {% endif %}
                </span>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div> -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">

                <div class="alert-box-square notice">
                {% if vGameInfoNew['is_game_today'] == False %}
                    <span>{{ vGameInfoNew['next_game_date'] }} AT {{ vGameInfoNew['game_time'] }}
                {% else %}
                    <span>Today at {{ vGameInfoNew['game_time'] }}
                {% endif %}
                    {% if vGameInfoNew['my_team_home'] %}
                        <br />{{ vGameInfoNew['away_team'] }}
                        <br />vs. New Jersey Devils
                    {% else %}
                        <br />New Jersey Devils
                        <br />vs. {{ vGameInfoNew['home_team'] }}
                    {% endif %}
                        <br /><br />
                        WATCH ON {{ vGameInfoNew['broadcast_channel'] }} ({{ vGameInfoNew['broadcast_channel_no'] }})
                        <br />VENUE: {{ vGameInfoNew['venue'] }}
                    </span>
                </div>

                <!--
                <div class="alert-box-square notice">
                {% if vGameInfo['status'] == 'None' %}
                    <span>No Devils Game Today</span>
                {% else %}
                    <span>Today at {{ vGameInfo['game_time'] }}
                    {% if vGameInfo['location'] == 'away' %}
                        <br />{{ vGameInfo['opponent'] }}
                        <br />vs. New Jersey Devils
                    {% else %}
                        <br />New Jersey Devils
                        <br />vs. {{ vGameInfo['opponent'] }}
                    {% endif %}
                    </span>
                {% endif %}
                </div>
                -->

                <div class="alert-box error" id="devils-scored"><span>Press if Devils Scored!</span></div>

                <hr>

                {% if vReceiverPower != "ON" %}
                    <div class="alert-box-square-small notice"><span>Receiver Power - {{ vReceiverPower }}</span></div>
                {% else %}
                    <div class="alert-box-square-small success"><span>Receiver Power - ON</span></div>
                {% endif %}

                <div class="alert-box-square-small notice"><span>Receiver Volume - {{ vReceiverVolume }}</span></div>

                <hr>

                {% if vScriptStatus %}
                    <div class="alert-box success" id="script-enabled"><span>Goal Script Enabled</span></div>
                    <div class="alert-box alert-box-hidden warning" id="script-disabled"><span>Goal Script Disabled</span></div>
                {% else %}
                    <div class="alert-box alert-box-hidden success" id="script-enabled"><span>Goal Script Enabled</span></div>
                    <div class="alert-box warning" id="script-disabled"><span>Goal Script Disabled</span></div>
                {% endif %}

                {% if vLightStatus %}
                    <div class="alert-box success" id="beacon-light-enabled"><span>Goal Lights Enabled</span></div>
                    <div class="alert-box alert-box-hidden warning" id="beacon-light-disabled"><span>Goal Lights Disabled</span></div>
                {% else %}
                    <div class="alert-box alert-box-hidden success" id="beacon-light-enabled"><span>Goal Lights Enabled</span></div>
                    <div class="alert-box warning" id="beacon-light-disabled"><span>Goal Lights Disabled</span></div>
                {% endif %}

                {% if vSoundStatus %}
                    <div class="alert-box success" id="goal-horn-enabled"><span>Goal Horn Enabled</span></div>
                    <div class="alert-box alert-box-hidden warning" id="goal-horn-disabled"><span>Goal Horn Disabled</span></div>
                {% else %}
                    <div class="alert-box alert-box-hidden success" id="goal-horn-enabled"><span>Goal Horn Enabled</span></div>
                    <div class="alert-box warning" id="goal-horn-disabled"><span>Goal Horn Disabled</span></div>
                {% endif %}

                <hr>

                <div class="alert-box tester" id="lights-test-disabled"><span>Test Goal Lights</span></div>
                <div class="alert-box alert-box-hidden success" id="lights-test-enabled"><span>Testing Goal Lights...</span></div>

                <div class="alert-box tester" id="goalhorn-test-disabled"><span>Test Goal Horn</span></div>
                <div class="alert-box alert-box-hidden success" id="goalhorn-test-enabled"><span>Testing Goal Horn...</span></div>

                <div class="alert-box tester" id="both-test-disabled"><span>Test Goal Lights & Horn</span></div>
                <div class="alert-box alert-box-hidden success" id="both-test-enabled"><span>Testing Goal Lights & Horn...</span></div>

                <!--
                <h1>A Bootstrap Starter Template</h1>
                <p class="lead">Complete with pre-defined file paths that you won't have to change!</p>
                <ul class="list-unstyled">
                    <li>Bootstrap v3.3.6</li>
                    <li>jQuery v1.11.1</li>
                </ul>
                -->
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

    <!-- jQuery Extras -->
    <script>
        $( document ).ready(function() {
            "{{vLocalNetwork}}" = true ? internalNetwork = true : internalNetwork = false
        });

        $("#devils-scored").click(function() {
            internalNetwork = true
                ? promptPW = "1234" : promptPW = prompt("Input 4-digit PIN to verify goal scored...");

            $.post("/devilsscored", { password: promptPW });

            var $div2blink = $("#devils-scored"); // Save reference, only look this item up once, then save
            var counter = 0;
            var backgroundInterval = setInterval(function() {
                    counter++;
                if(counter >= 31){
                    clearInterval(timer)
                }
                $div2blink.toggleClass("backgroundRed");
             },400)

            // alert("Devils Scored Clicked!");
            return false;
        });

        // ***********************************
        // Click Listener for Goal Lights
        // ***********************************
        $("#beacon-light-enabled").bind('click tap', function() {
            if(confirm("Beacon Lights are enabled - are you sure you want to disable?")) {
                $.post("/lights/disable", { password: "LightsAdmin123!" },  function( data ) {
                    if (data["newStatus"] == "disable") {
                        $("#beacon-light-enabled").addClass('alert-box-hidden');
                        $("#beacon-light-disabled").removeClass('alert-box-hidden');
                    }
                });
            }
            return false;
        });

        $("#beacon-light-disabled").bind('click tap', function() {
            internalNetwork = true
                ? promptPW = "LightsAdmin123!" : promptPW = prompt("Beacon Lights are disabled - type password to enable...");

            if (promptPW) {
                $.post("/lights/enable", { password: promptPW }, function( data ) {
                    if (data["newStatus"] == "enable") {
                        $("#beacon-light-disabled").addClass('alert-box-hidden');
                        $("#beacon-light-enabled").removeClass('alert-box-hidden');
                    }
                });
            }
            return false;
        });

        // ***********************************
        // Click Listener for Goal Horn
        // ***********************************
        $("#goal-horn-enabled").bind('click tap', function() {
            if(confirm("Goal Horn is enabled - are you sure you want to disable?")) {
                $.post("/sounds/disable", { password: "SoundsAdmin123!" }, function( data ) {
                    if (data["newStatus"] == "disable") {
                        $("#goal-horn-enabled").addClass('alert-box-hidden');
                        $("#goal-horn-disabled").removeClass('alert-box-hidden');
                    }
                });
            }
            return false;
        });

        $("#goal-horn-disabled").bind('click tap', function() {
            internalNetwork = true
                ? promptPW = "SoundsAdmin123!" : promptPW = prompt("Goal Horn is disabled - type password to enable...");

            if (promptPW) {
                $.post("/sounds/enable", { password: promptPW }, function( data ) {
                    if (data["newStatus"] == "enable") {
                        $("#goal-horn-disabled").addClass('alert-box-hidden');
                        $("#goal-horn-enabled").removeClass('alert-box-hidden');
                    }
                });
            }
            return false;
        });

        // ******************************************
        // Click Listener for Testing
        // ******************************************
        $("#lights-test-disabled").bind('click tap', function() {
            internalNetwork = true
                ? promptPW = "Testing123!" : promptPW = prompt("Enter password to perform lights test...");

            if (promptPW) {
                $.post("/tests/lights", { password: promptPW });
            }
            return false;
        });

        $("#goalhorn-test-disabled").bind('click tap', function() {
            internalNetwork = true
                ? promptPW = "Testing123!" : promptPW = prompt("Enter password to perform lights test...");

            if (promptPW) {
                $.post("/tests/sounds", { password: promptPW });
            }
            return false;
        });


        $("#both-test-disabled").bind('click tap', function() {
            internalNetwork = true
                ? promptPW = "Testing123!" : promptPW = prompt("Enter password to perform lights test...");

            if (promptPW) {
                $.post("/tests/full", { password: promptPW });
            }
            return false;
        });

    </script>

</body>

</html>
